SECRET_KEY=you-will-never-guess
SQLALCHEMY_DATABASE_URI=sqlite:///app.db
SQLALCHEMY_TRACK_MODIFICATIONS=False
MAIL_SERVER=smtp.server
MAIL_PORT=25
MAIL_USE_TLS=0
MAIL_USERNAME=MAIL_USERNAME
MAIL_PASSWORD=MAIL_PASSWORD
