<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{url_for('static', filename='metabolite_database.css')}}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-flash-1.5.6/b-html5-1.5.6/rg-1.1.0/datatables.min.css">
    {% endblock %}

    {% block title %}
      <title>
      {% if title %}
        {{ title }} - Metabolite Database
      {% else %}
        Rabinowitz Lab Metabolite Database
      {% endif %}
      </title>
    {% endblock %}

    {% endblock %}
  </head>

  <body>
    {% block navbar %}
    {% from 'bootstrap/nav.html' import render_nav_item %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">Metabolite
        Database</a>
        <div class="navbar-nav mr-auto">
            {{ render_nav_item('main.index', 'Home') }}
            {{ render_nav_item('main.methods', 'Methods') }}
            {{ render_nav_item('main.compounds', 'Compounds') }}
            {{ render_nav_item('main.compound_lists', 'Compound Lists') }}
            {{ render_nav_item('main.isomers', 'Isomers') }}
            {{ render_nav_item('main.standard_runs', 'Standard Runs') }}
        </div>
    </nav>
    {% endblock %}

    <!-- Your page contont -->
    {% block content %}
      <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
      </div>

      <div class="metaboldb-footer navbar navbar-default">
        <div class="container text-center">
          <p>Rabinowitz Lab Metabolite Database - Contact <a href="mailto:csgenome@genomics.princeton.edu">Genomics
              Computer Support</a> for assistance</p>
          <p>Copyright Princeton University - 2018</p>
        </div>
      </div>
    {% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {{ moment.include_moment() }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-flash-1.5.6/b-html5-1.5.6/rg-1.1.0/datatables.min.js"></script>
    {% endblock %}
  </body>
</html>
