{% extends "base.html" %}

{% block content %}
    <h1>Chromatography Methods</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Retention Times</th>
        </tr>
        {% for method in methods %}
            <tr>
                <td>{{ method.name }}</td>
                <td>{{ method.description }}</td>
                <td><a href="{{ url_for('retention_times', method = method.name) }}">
                    {{ method.retention_times|length }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}