{% extends "base.html" %}

{% block app_content %}
    <h1>{{ compound_list.name }}</h1>
    <p>{{ compound_list.description }}</p>
    <p>{{ compound_list.compounds | length }} compounds</p>

    <h2>Compounds</h2>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Formula</th>
            <th>Monoisotopic Mass</th>
            <th>m/z (positive mode)</th>
            <th>m/z (negative mode)</th>
            <th>Retetion Times</th>
            <th>Compound Lists</th>
        </tr>
        {% for compound in compound_list.compounds %}
            <tr>
                <td><a href="{{ url_for('main.compound', id=compound.id) }}">
                    {{ compound.name }}</a></td>
                <td>{{ compound.molecular_formula }}</td>
                <td>{{ compound.monoisotopic_mass }}</td>
                <td>{{ compound.m_z(1) }}</td>
                <td>{{ compound.m_z(-1) }}</td>
                <td>
                    {% for rt in compound.retention_times %}
                        <a href="{{ url_for('main.methods') }}">{{ rt.standard_run.chromatography_method.name }}</a>
                        - {{ rt.retention_time }};
                    {% endfor %}
                </td>
                <td>{{ compound.compound_lists | length }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}