{% extends "base.html" %}

{% block scripts %}
  {{super()}}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#standard_runs').DataTable();
      $('#isomers').DataTable();
    });
  </script>
{% endblock %}

{% block app_content %}
  <h1>{{ compound.name }}</h1>
  <p>
    <strong>{{ compound.molecular_formula }}</strong> (<a target="_blank"
    href="http://www.hmdb.ca/unearth/q?utf8=%E2%9C%93&query=name%3A%22{{ compound.name | urlencode }}%22+AND+chemical_formula%3A{{ compound.molecular_formula }}&searcher=metabolites&button=">Search
    HMDB</a>)
  </p>
  {% if compound.notes %}
  <p>{{ compound.notes }}</p>
  {% endif %}
  <dl>
    <dt>Monoisotopic Mass</dt>
    <dd>{{ compound.monoisotopic_mass }}</dd>
    <dt>m/z (positive mode)</dt>
    <dd>{{ compound.m_z(1) }}
    <dt>m/z (negative mode)</dt>
    <dd>{{ compound.m_z(-1) }}</dd>
  </dl>

  <h2>Isomers</h2>
  {% if compound.isomers|length > 0 %}
  <table id="isomers" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Formula</th>
        <th>Monoisotopic Mass</th>
        <th>m/z (positive mode)</th>
        <th>m/z (negative mode)</th>
        <th>Notes</th>
        <th>Retetion Times</th>
        <th>Compound Lists</th>
      </tr>
    </thead>
    <tbody>
      {% for isomer in compound.isomers %}
        <tr>
          <td><a href="{{ url_for('main.compound', id=isomer.id) }}">
              {{ isomer.name }}</a></td>
          <td>{{ isomer.molecular_formula }}</td>
          <td>{{ isomer.monoisotopic_mass }}</td>
          <td>{{ isomer.m_z(1) }}</td>
          <td>{{ isomer.m_z(-1) }}</td>
          <td>{{ isomer.notes }}</td>
          <td>{{ isomer.retention_times | length }}</td>
          <td>{{ isomer.compound_lists | length }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No isomers in database</p>
  {% endif %}

  <h2>Compound Lists</h2>
  {% if compound.compound_lists|length > 0 %}
  <ul>
    {% for list in compound.compound_lists %}
      <li><a href="{{ url_for('main.compound_list', id=list.id) }}">{{ list.name }}:
          {{ list.description }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Compound is not part of any compound lists</p>
  {% endif %}

  <h2>Standard Runs</h2>
  <table id="standard_runs" class="table">
    <thead>
      <tr>
        <th>Method</th>
        <th>Retetion Time</th>
      </tr>
    </thead>
    <tbody>
      {% for rt in compound.retention_times %}
        <tr>
          <td><a href="{{ url_for('main.methods') }}">
              {{ rt.standard_run.chromatography_method.name }}</a></td>
          <td>{{ rt.retention_time }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
