{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
  {{super()}}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#retention_time_table').DataTable();
    });
  </script>
{% endblock %}

{% block app_content %}
  <h1><strong>{{ method.name }}</strong></h1>

  <h2>Select Compounds and Standard Runs</h2>
  <form class="form" method="post" role="form" action="" novalidate>
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    {{ wtf.form_field(form.compoundlist) }}

    {{ form.standardruns.label }}
    <p><em>Note: </em>When multiple standard runs are selected, the retention
      times reported are the average from each selected run.</p>
    {% for error in form.standardruns.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for choice in form.standardruns %}
      <div class="form-check">
        {{ choice(checked=choice.checked, class="form-check-input") }}
        {{ choice.label(class="form-check-label") }}
        <a href="{{ url_for('main.standard_run', id=choice.data) }}">Details</a>
      </div>
    {% endfor %}

    {{ wtf.form_field(form.submit) }}
    {{ wtf.form_field(form.export) }}

  </form>

  {% if retention_times is not none %}
  <h2>Mean Retiontion Times</h2>
  <table id="retention_time_table" class="table">
    <thead>
      <tr>
        <th>Compound</th>
        <th>Formula</th>
        <th>Monoisotopic mass</th>
        <th>Mean Retention Time (sec)</th>
      </tr>
    </thead>
    <tbody>
      {% for compound, mean_rt in retention_times %}
        <tr>
          <td><a href="{{ url_for('main.compound', id=compound.id) }}">
              {{ compound.name }}</a></td>
          <td>{{ compound.molecular_formula }}</td>
          <td>{{ compound.monoisotopic_mass }}</td>
          {% if mean_rt is none %}
          <td class="warning">
          {% else %}
          <td>
          {% endif %}
            {{ mean_rt }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endblock %}
