{% extends "base.html" %}

{% block app_content %}
    <h1><strong>{{ method.name }}</strong></h1>

    <h2>Standard Runs</h2>
    <table class="table">
        <tr>
            <th>Standard Run</th>
            <th>Retention Times</th>
        </tr>
        {% for run in method.standard_runs %}
            <tr>
                <td><a href="{{ url_for('main.standard_run', id=run.id) }}">Run on {{ moment(run.date).format('L') }} by {{ run.operator}}</a></td>
                <td>{{ method.compounds_with_retention_times(standard_run_ids=[run.id]).count() }} retention times / {{ total_compounds }} total compounds</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Select Compounds and Standard Runs</h2>
    <form action="" method="post" novalidate>
        {{ selectform.hidden_tag() }}
        <p>
            {{ selectform.compoundlist.label }}<br>
            {{ selectform.compoundlist() }}
            {% for error in selectform.compoundlist.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ selectform.standardruns.label }}<br>
            {{ selectform.standardruns() }}
            {% for error in selectform.standardruns.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ selectform.submit() }}</p>
        {% if retention_times is not none %}
            <p>{{ selectform.export() }}</p>
        {% endif %}
    </form>


    {% if retention_times is not none %}
        <h2>Mean Retiontion Times</h2>
        <table class="table">
            <tr>
                <th>Compound</th>
                <th>Formula</th>
                <th>Monoisotopic mass</th>
                <th>Mean Retention Time (sec)</th>
            </tr>
            {% for compound, mean_rt in retention_times %}
                <tr>
                    <td><a href="{{ url_for('main.compound', id=compound.id) }}">
                        {{ compound.name }}</a></td>
                    <td>{{ compound.molecular_formula }}</td>
                    <td>{{ compound.monoisotopic_mass }}</td>
                    {% if mean_rt is none %}
                        <td class="warning">
                    {% else %}
                        <td>
                    {% endif %}
                        {{ mean_rt }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}