{% extends "base.html" %}

{% block scripts %}
  {{super()}}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#methods').DataTable();
    });
  </script>
{% endblock %}

{% block app_content %}
  <h1>Chromatography Methods</h1>
  <table id="methods" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Number of Standard Runs</th>
        <th>Compounds with Retention Times</th>
      </tr>
    </thead>
    <tbody>
      {% for method in methods %}
        <tr>
          <td><a href="{{ url_for('main.method', id=method.id) }}">{{ method.name }}</a></td>
          <td><a href="{{ url_for('main.method', id=method.id) }}">{{ method.description }}</a></td>
          <td><a href="{{ url_for('main.method', id=method.id) }}">{{ method.standard_runs | length }}</a></td>
          <td><a href="{{ url_for('main.method', id=method.id) }}">
              {{ method.unique_compounds_with_retention_times().count() }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
