{% extends "base.html" %}

{% block scripts %}
  {{super()}}
  <script type="text/javascript">
    $(document).ready(function() {
      var data_table = $('#retention_time_table').DataTable( {
        buttons: [
          'pageLength',
          {
            extend: 'csv',
            text: 'Export',
            exportOptions: {
              columns: [0, 1, 3, 5],
              format: {
                header: function(data, column, node) {
                  switch(column) {
                    case 0:
                      return "compound";
                    case 1:
                      return "formula";
                    case 3:
                      return "RT";
                    case 5:
                      return "note";
                    default:
                      return data;
                  }
                }
              }
            }
          },
          {
            text: 'Group isomers',
            action: function() {
              data_table.rowGroup().enable();
              data_table.columns(4).search('[^0]', true, false);
              data_table.order.fixed([[1, 'asc']]);
              data_table.draw();
            }
          },
          {
            text: 'Ungroup',
            action: function() {
              data_table.rowGroup().disable();
              data_table.columns(4).search('', true, false);
              data_table.order.fixed([]);
              data_table.draw();
            }
          },      
        ],
        rowGroup: {
          enable: false,
          dataSrc: 1
        },
        pageLength: 50,
        lengthChange: false,
        order: [[1, 'asc']]
      });
      data_table.buttons().container()
        .appendTo( $('#retention_time_table_wrapper .col-sm-12:eq(0)' ) );
      data_table.rowGroup().disable().draw();
    });
  </script>
{% endblock %}

{% block app_content %}
  <h1><strong>{{ method.name }}</strong></h1>

  <h2>Select Compounds and Standard Runs</h2>
  {% from 'bootstrap/form.html' import render_field, form_errors %}
  <form class="form" method="post" role="form" action="" novalidate>
    <div class="row">
      <div class="col-sm">
        {{ form.csrf_token() }}
        {{ form_errors(form, hiddens="only") }}

        {{ render_field(form.compoundlist) }}
      </div>
      <div class="col-sm">
        {{ form.standardruns.label }}
        <p><em>Note: </em>When multiple standard runs are selected, the retention
          times reported are the average from each selected run.</p>
        {% for error in form.standardruns.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {% for choice in form.standardruns %}
          <div class="form-check">
            {{ choice(checked=choice.checked, class="form-check-input") }}
            {{ choice.label(class="form-check-label") }}
            <a href="{{ url_for('main.standard_run', id=choice.data) }}">Details</a>
          </div>
        </div>
        {% endfor %}
      </div>

    {{ render_field(form.submit) }}
  </form>

  {% if retention_times is not none %}
  <p/>
  <h2>Mean Retiontion Times</h2>
  <table id="retention_time_table" class="table">
    <thead>
      <tr>
        <th>Compound</th>
        <th>Formula</th>
        <th>Monoisotopic mass</th>
        <th>Mean Retention Time (sec)</th>
        <th>Isomers</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for compound, mean_rt in retention_times %}
        <tr>
          <td><a href="{{ url_for('main.compound', id=compound.id) }}">
              {{ compound.name }}</a></td>
          <td>{{ compound.molecular_formula }}</td>
          <td>{{ compound.monoisotopic_mass }}</td>
          {% if mean_rt is none %}
            <td class="warning"></td>
          {% else %}
            <td>{{ mean_rt }}</td>
          {% endif %}
          <td>{{ compound.isomers | length }}</td>
          <td>{{ compound.notes if compound.notes }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endblock %}
