{% extends "base.html" %}

{% block app_content %}
    <h1>Chromatography Methods</h1>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Retention Times Recorded</th>
            <th>Valid Retention Times</th>
        </tr>
        {% for method in methods %}
            <tr>
                <td>{{ method.name }}</td>
                <td>{{ method.description }}</td>
                <td><a href="{{ url_for('main.retention_times_for_method',
                    id = method.id) }}">
                    {{ method.compounds_with_retention_times().count() }}</a></td>
                <td><a href="{{ url_for('main.retention_times_for_method',
                    id = method.id) }}">
                    {{ method.compounds_with_valid_retention_times().count() }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}