{% extends "base.html" %}

{% block app_content %}
    <h1>Standard Run: {{  moment(run.date).format('LLL') }}</h1>
    <dl>
        <dt>Method</dt>
        <dd><a href="{{ url_for('main.method', id=run.chromatography_method.id) }}">{{ run.chromatography_method.name }}</a></dd>
        <dt>Date</dt>
        <dd>{{ moment(run.date).format('l') }}</dd>
        <dt>Operator</dt>
        <dd>{{ run.operator }}</dd>
        <dt>mzXML File</dt>
        <dd>{{ run.mzxml_file }}</dd>
    </dl>
    <table class="table">
        <tr>
            <th>Compound</th>
            <th>Retetion Time</th>
        </tr>
        {% for rt in run.retention_times %}
            <tr>
                <td><a href="{{ url_for('main.compound', id=rt.compound.id) }}">
                    {{ rt.compound.name }}</a></td>
                {% if rt.retention_time is none %}
                    <td class="warning">
                {% else %}
                    <td>
                {% endif %}
                    {{ rt.retention_time }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}